.img1 {
    width: 500px;
    height: 300px;
}

h1 {
    background-color: brown;
}

.img2{
    width: 500px;
    height: 300px;
}

.fut{
    background-color: chartreuse;
}
.bf{
    background-color: forestgreen;
}
.inicio {
    font-size: 3vw;
}

.inicio {
    color: aliceblue;
}

.bi{
    font-size: 3vw;
}
.bi{
    color: black;
}

.vi {
    color: black;
}
.vi{
    font-size: 3vw;
}